extends layout

block content
  h1="Great! Your account has been linked."
  p="We've queued processing of existing mail, and are also listening for incoming webhooks about new mail."
  a(href="/") Try Another Account
